<!DOCTYPE HTML>
<html xmlns:th="http://www.thymeleaf.org">

<head>
    <meta charset="utf-8">
    <link th:href="@{/css/reset.css}" href="../css/reset.css" rel="stylesheet">
    <link th:href="@{/css/common.css}" href="../css/common.css" rel="stylesheet">
    <link th:href="@{/css/common.css}" href="../css/home.css" rel="stylesheet">
    
</head>

<body>
    <div class="wrap">
        <header>
            <div class="header_wrapper">
                <div class="header_left">
                    <div class="logo">
                        <a href="#none"><img src="../images/logo.png" alt="logo"></a>
                    </div>
                    <div class="menu">
                        <ul>
                            <li><a href="#none">구조요청</a></li>
                        </ul>
                    </div>
                </div>
                <div class="header_right">
                    <ul>
                        <li><a href="#none">회원가입</a></li>
                        <li><a href="#none">로그인</a></li>
                    </ul>
                </div>
            </div>
        </header>

        <div class="container">
            <div class="banner_wrapper">
                
            </div>
        </div> 

    </div>
</body>

</html>