<!DOCTYPE HTML>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="utf-8">
    <link th:href="@{/css/bootstrap.min.css}"
          href="../css/bootstrap.min.css" rel="stylesheet">
    <style>
        .container {
            max-width: 560px;
        }
    </style>
</head>
<body>
<div class="container">
    <div class="py-5 text-center">
        <h2 th:text="#{page.item}">게시글 상세</h2>
    </div>
    <h2 th:if="${param.status}" th:text ="'저장완료'"></h2>
    <div>
        <label for="itemId" th:text="#{label.item.id}">게시글 번호</label>
        <input type="text" id="itemId" name="itemId" class="form-control"
               value="1" th:value="${item.id}" readonly>
    </div>
    <div>
        <label for="itemName" th:text="#{label.item.itemName}">제목</label>
        <input type="text" id="itemName" name="itemName" class="form-control"
               value="강아지를 구조해주세요" th:value="${item.itemName}" readonly>
    </div>
    <div>
        <label for="loc" th:text="#{label.item.loc}">위치</label>
        <input type="text" id="loc" name="loc" class="form-control"
               value="포천시 소흘읍" th:value="${item.loc}"readonly>
    </div>
    <div>
        <label for="content" th:text="#{label.item.content}">내용</label>
        <input type="text" id="content" name="content" class="form-control"
               value="소흘읍에 유기견을 도와주세요" th:value="${item.content}"readonly>
    </div>
    <hr class="my-4">
    <div class="row">
        <div class="col">
            <button class="w-100 btn btn-primary btn-lg"
                    onclick="location.href='editForm.html'"
                    th:onclick="|location.href='@{/form/items/{itemId}/edit(itemId=${item.id})}'|"
                    type="button" th:text="#{page.updateItem}">게시글 수정</button>
        </div>
        <div class="col">
            <button class="w-100 btn btn-secondary btn-lg"
                    onclick="location.href='items.html'"
                    th:onclick="|location.href='@{/form/items}'|"
                    type="button" th:text="#{page.items}">목록으로</button>
        </div>
    </div>
</div> <!-- /container -->
</body>
</html>