<!DOCTYPE HTML>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="utf-8">
    <link th:href="@{/css/bootstrap.min.css}"
            href="../css/bootstrap.min.css" rel="stylesheet">
</head>
<body>
<div class="container" style="max-width: 600px">
    <div class="py-5 text-center">
        <h2 th:text="#{page.items}">게시글 목록</h2>
    </div>
    <div class="row">
        <div class="col">
            <button class="btn btn-primary float-end"
                    onclick="location.href='addForm.html'"
                    th:onclick="|location.href='@{/form/items/add}'|"
                    type="button" th:text="#{page.addItem}">게시글 등록</button>
        </div>
    </div>
    <hr class="my-4">
    <div>
        <table class="table">
            <thead>
            <tr>
                <th th:text="#{label.item.id}">게시글 번호</th>
                <th th:text="#{label.item.itemName}">제목</th>
                <th th:text="#{label.item.location}">위치</th>
                <th th:text="#{label.item.content}">내용</th>
            </tr>
            </thead>
            <tbody>
            <tr th:each="item :${items}">
                <td><a href="item.html" th:href="@{/form/items/{itemId}(itemId=${item.id})}" th:text="${item.id}">글번호</a></td>
                <td><a href="item.html" th:href="@{/form/items/{itemId}(itemId=${item.id})}" th:text="${item.itemName}">제목</a></td>
                <td th:text="${item.location}">서초구</td>
                <td th:text="${item.content}">글내용입니다</td>
            </tr>

            </tbody>
        </table>
    </div>
</div> <!-- /container -->
</body>
</html>